.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.ir {
  display: block;
  border: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Extends the .element-invisible class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.element-invisible.focusable,
.element-invisible.focusable {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.element-invisible.focusable:active, .element-invisible.focusable:focus,
.element-invisible.focusable:active,
.element-invisible.focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

/* `Push Space
----------------------------------------------------------------------------------------------------*/
/* `Pull Space
----------------------------------------------------------------------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
}

body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

::-moz-selection {
  background: #006491;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #006491;
  color: #fff;
  text-shadow: none;
}

a {
  color: #0099dd;
}
a:visited {
  color: #0099dd;
}
a:hover {
  color: #006491;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1.5em 2.5em;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #87a5b9;
  margin: 1.5em 0;
  padding: 0;
  clear: both;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  margin: 1.5em 0;
  padding: 0 0 0 2.5em;
  /* LTR */
}

dd {
  margin: 0 0 0 2.5em;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}

td {
  vertical-align: top;
}

.btn {
  display: inline-block;
  padding: 3px 15px 3px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active, .btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #006491;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active, .btn:active {
  color: #0099dd;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-wrapper a {
  display: inline-block;
  padding: 3px 15px 3px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.btn-wrapper a:hover, .btn-wrapper a:active, .btn-wrapper a.active, .btn-wrapper a.disabled, .btn-wrapper a[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn-wrapper a:active, .btn-wrapper a.active {
  background-color: #cccccc \9;
}
.btn-wrapper a:first-child {
  *margin-left: 0;
}
.btn-wrapper a:hover {
  color: #006491;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-wrapper a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-wrapper a.active, .btn-wrapper a:active {
  color: #0099dd;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn-wrapper a.disabled, .btn-wrapper a[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-wrapper-mini a {
  padding: 2px 6px;
  font-size: 12.6px;
  line-height: 1.35em;
}

.btn-primary,
.btn-warning,
.btn-danger,
.btn-success,
.btn-info,
.btn-inverse {
  display: inline-block;
  padding: 3px 15px 3px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled],
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled],
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled],
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled],
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled],
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn-primary:active, .btn-primary.active,
.btn-warning:active,
.btn-warning.active,
.btn-danger:active,
.btn-danger.active,
.btn-success:active,
.btn-success.active,
.btn-info:active,
.btn-info.active,
.btn-inverse:active,
.btn-inverse.active {
  background-color: #cccccc \9;
}
.btn-primary:first-child,
.btn-warning:first-child,
.btn-danger:first-child,
.btn-success:first-child,
.btn-info:first-child,
.btn-inverse:first-child {
  *margin-left: 0;
}
.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-info:hover,
.btn-inverse:hover {
  color: #006491;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-primary:focus,
.btn-warning:focus,
.btn-danger:focus,
.btn-success:focus,
.btn-info:focus,
.btn-inverse:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-primary.active, .btn-primary:active,
.btn-warning.active,
.btn-warning:active,
.btn-danger.active,
.btn-danger:active,
.btn-success.active,
.btn-success:active,
.btn-info.active,
.btn-info:active,
.btn-inverse.active,
.btn-inverse:active {
  color: #0099dd;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn-primary.disabled, .btn-primary[disabled],
.btn-warning.disabled,
.btn-warning[disabled],
.btn-danger.disabled,
.btn-danger[disabled],
.btn-success.disabled,
.btn-success[disabled],
.btn-info.disabled,
.btn-info[disabled],
.btn-inverse.disabled,
.btn-inverse[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-info:hover,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-wrapper-primary a,
.btn-wrapper-warning a,
.btn-wrapper-danger a,
.btn-wrapper-success a,
.btn-wrapper-info a,
.btn-wrapper-inverse a {
  display: inline-block;
  padding: 3px 15px 3px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}
.btn-wrapper-primary a:hover, .btn-wrapper-primary a:active, .btn-wrapper-primary a.active, .btn-wrapper-primary a.disabled, .btn-wrapper-primary a[disabled],
.btn-wrapper-warning a:hover,
.btn-wrapper-warning a:active,
.btn-wrapper-warning a.active,
.btn-wrapper-warning a.disabled,
.btn-wrapper-warning a[disabled],
.btn-wrapper-danger a:hover,
.btn-wrapper-danger a:active,
.btn-wrapper-danger a.active,
.btn-wrapper-danger a.disabled,
.btn-wrapper-danger a[disabled],
.btn-wrapper-success a:hover,
.btn-wrapper-success a:active,
.btn-wrapper-success a.active,
.btn-wrapper-success a.disabled,
.btn-wrapper-success a[disabled],
.btn-wrapper-info a:hover,
.btn-wrapper-info a:active,
.btn-wrapper-info a.active,
.btn-wrapper-info a.disabled,
.btn-wrapper-info a[disabled],
.btn-wrapper-inverse a:hover,
.btn-wrapper-inverse a:active,
.btn-wrapper-inverse a.active,
.btn-wrapper-inverse a.disabled,
.btn-wrapper-inverse a[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn-wrapper-primary a:active, .btn-wrapper-primary a.active,
.btn-wrapper-warning a:active,
.btn-wrapper-warning a.active,
.btn-wrapper-danger a:active,
.btn-wrapper-danger a.active,
.btn-wrapper-success a:active,
.btn-wrapper-success a.active,
.btn-wrapper-info a:active,
.btn-wrapper-info a.active,
.btn-wrapper-inverse a:active,
.btn-wrapper-inverse a.active {
  background-color: #cccccc \9;
}
.btn-wrapper-primary a:first-child,
.btn-wrapper-warning a:first-child,
.btn-wrapper-danger a:first-child,
.btn-wrapper-success a:first-child,
.btn-wrapper-info a:first-child,
.btn-wrapper-inverse a:first-child {
  *margin-left: 0;
}
.btn-wrapper-primary a:hover,
.btn-wrapper-warning a:hover,
.btn-wrapper-danger a:hover,
.btn-wrapper-success a:hover,
.btn-wrapper-info a:hover,
.btn-wrapper-inverse a:hover {
  color: #006491;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-wrapper-primary a:focus,
.btn-wrapper-warning a:focus,
.btn-wrapper-danger a:focus,
.btn-wrapper-success a:focus,
.btn-wrapper-info a:focus,
.btn-wrapper-inverse a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-wrapper-primary a.active, .btn-wrapper-primary a:active,
.btn-wrapper-warning a.active,
.btn-wrapper-warning a:active,
.btn-wrapper-danger a.active,
.btn-wrapper-danger a:active,
.btn-wrapper-success a.active,
.btn-wrapper-success a:active,
.btn-wrapper-info a.active,
.btn-wrapper-info a:active,
.btn-wrapper-inverse a.active,
.btn-wrapper-inverse a:active {
  color: #0099dd;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn-wrapper-primary a.disabled, .btn-wrapper-primary a[disabled],
.btn-wrapper-warning a.disabled,
.btn-wrapper-warning a[disabled],
.btn-wrapper-danger a.disabled,
.btn-wrapper-danger a[disabled],
.btn-wrapper-success a.disabled,
.btn-wrapper-success a[disabled],
.btn-wrapper-info a.disabled,
.btn-wrapper-info a[disabled],
.btn-wrapper-inverse a.disabled,
.btn-wrapper-inverse a[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-wrapper-primary a:hover,
.btn-wrapper-warning a:hover,
.btn-wrapper-danger a:hover,
.btn-wrapper-success a:hover,
.btn-wrapper-info a:hover,
.btn-wrapper-inverse a:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}
.btn-wrapper-primary a.active,
.btn-wrapper-warning a.active,
.btn-wrapper-danger a.active,
.btn-wrapper-success a.active,
.btn-wrapper-info a.active,
.btn-wrapper-inverse a.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  background-color: #0083dd;
  background-image: -moz-linear-gradient(top, #0099dd, #0062dd);
  background-image: -ms-linear-gradient(top, #0099dd, #0062dd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0099dd), to(#0062dd));
  background-image: -webkit-linear-gradient(top, #0099dd, #0062dd);
  background-image: -o-linear-gradient(top, #0099dd, #0062dd);
  background-image: linear-gradient(top, #0099dd, #0062dd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095d8', endColorstr='#005fd8', GradientType=0);
  border-color: #0062dd #0062dd #004091;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0062dd;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #0062dd;
  *background-color: #0056c4;
}
.btn-primary:active, .btn-primary.active {
  background-color: #004baa \9;
}

.btn-wrapper-primary a {
  background-color: #0083dd;
  background-image: -moz-linear-gradient(top, #0099dd, #0062dd);
  background-image: -ms-linear-gradient(top, #0099dd, #0062dd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0099dd), to(#0062dd));
  background-image: -webkit-linear-gradient(top, #0099dd, #0062dd);
  background-image: -o-linear-gradient(top, #0099dd, #0062dd);
  background-image: linear-gradient(top, #0099dd, #0062dd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095d8', endColorstr='#005fd8', GradientType=0);
  border-color: #0062dd #0062dd #004091;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0062dd;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-wrapper-primary a:hover, .btn-wrapper-primary a:active, .btn-wrapper-primary a.active, .btn-wrapper-primary a.disabled, .btn-wrapper-primary a[disabled] {
  background-color: #0062dd;
  *background-color: #0056c4;
}
.btn-wrapper-primary a:active, .btn-wrapper-primary a.active {
  background-color: #004baa \9;
}

.btn-warning {
  background-color: #f9a732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb24b', endColorstr='#f39106', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active, .btn-warning.active {
  background-color: #c67605 \9;
}

.btn-wrapper-warning a {
  background-color: #f9a732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb24b', endColorstr='#f39106', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-wrapper-warning a:hover, .btn-wrapper-warning a:active, .btn-wrapper-warning a.active, .btn-wrapper-warning a.disabled, .btn-wrapper-warning a[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-wrapper-warning a:active, .btn-wrapper-warning a.active {
  background-color: #c67605 \9;
}

.btn-danger {
  background-color: #da4e49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5a56', endColorstr='#b9352e', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active, .btn-danger.active {
  background-color: #942a25 \9;
}

.btn-wrapper-danger a {
  background-color: #da4e49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5a56', endColorstr='#b9352e', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-wrapper-danger a:hover, .btn-wrapper-danger a:active, .btn-wrapper-danger a.active, .btn-wrapper-danger a.disabled, .btn-wrapper-danger a[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-wrapper-danger a:active, .btn-wrapper-danger a.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #5bb65b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ec35e', endColorstr='#4fa04f', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active, .btn-success.active {
  background-color: #408140 \9;
}

.btn-wrapper-success a {
  background-color: #5bb65b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ec35e', endColorstr='#4fa04f', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-wrapper-success a:hover, .btn-wrapper-success a:active, .btn-wrapper-success a.active, .btn-wrapper-success a.disabled, .btn-wrapper-success a[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}
.btn-wrapper-success a:active, .btn-wrapper-success a.active {
  background-color: #408140 \9;
}

.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57bedd', endColorstr='#2e93b0', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active, .btn-info.active {
  background-color: #24748c \9;
}

.btn-wrapper-info a {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57bedd', endColorstr='#2e93b0', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-wrapper-info a:hover, .btn-wrapper-info a:active, .btn-wrapper-info a.active, .btn-wrapper-info a.disabled, .btn-wrapper-info a[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-wrapper-info a:active, .btn-wrapper-info a.active {
  background-color: #24748c \9;
}

.btn-inverse {
  background-color: #404040;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252', endColorstr='#1f1f1f', GradientType=0);
  border-color: #222222 #222222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active, .btn-inverse.active {
  background-color: #090909 \9;
}

.btn-wrapper-inverse a {
  background-color: #404040;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252', endColorstr='#1f1f1f', GradientType=0);
  border-color: #222222 #222222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-wrapper-inverse a:hover, .btn-wrapper-inverse a:active, .btn-wrapper-inverse a.active, .btn-wrapper-inverse a.disabled, .btn-wrapper-inverse a[disabled] {
  background-color: #222222;
  *background-color: #151515;
}
.btn-wrapper-inverse a:active, .btn-wrapper-inverse a.active {
  background-color: #090909 \9;
}

.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
}
.btn-group:before, .btn-group:after {
  display: table;
  content: "";
}
.btn-group:after {
  clear: both;
}
.btn-group:first-child {
  *margin-left: 0;
}
.btn-group + .btn-group {
  margin-left: 5px;
}
.btn-group .btn {
  display: inline-block;
  padding: 3px 15px 3px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group .btn:hover, .btn-group .btn:active, .btn-group .btn.active, .btn-group .btn.disabled, .btn-group .btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn-group .btn:active, .btn-group .btn.active {
  background-color: #cccccc \9;
}
.btn-group .btn:first-child {
  *margin-left: 0;
}
.btn-group .btn:hover {
  color: #006491;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-group .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-group .btn.active, .btn-group .btn:active {
  color: #0099dd;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn-group .btn.disabled, .btn-group .btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group .btn:hover, .btn-group .btn:focus, .btn-group .btn:active, .btn-group .btn.active {
  z-index: 2;
}
.btn-group .btn:first-child, .btn-group .btn.first {
  margin-left: 0;
  -moz-border-radius-top-left: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottom-left: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group .btn:last-child, .btn-group .btn.last {
  -moz-border-radius-top-right: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottom-right: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

#skip-to-nav {
  font-size: 14px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.857142857142857em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.7em;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.428571428571429em;
  line-height: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 1.071428571428571em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.4em;
}

h1.title,
h2.title,
h3.title {
  margin: 0;
}

h1.title {
  margin-bottom: 1em;
}

h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

p,
dl,
pre,
table,
fieldset {
  margin: 1.5em 0;
}

.block ul,
.item-list ul {
  margin: 1.5em 0;
  padding: 0 0 0 2.5em;
  /* LTR */
}

ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: decimal;
}

li a.active,
a.active,
a:active {
  color: #006491;
}

h1 a:link, h1 a:visited,
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited,
h4 a:link,
h4 a:visited,
h5 a:link,
h5 a:visited,
h6 a:link,
h6 a:visited {
  color: inherit;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #006491;
  text-decoration: underline;
}

#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

#site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

.item-list ul li {
  margin: 0;
  padding: 0;
  list-style: inherit;
}

#content .tabs li,
#content .links li,
ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
  background: none;
}

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em;
  padding: 0;
}

div.tabs {
  margin: 0;
}
div.tabs.tabs-primary {
  position: absolute;
  bottom: 0;
  right: 40px;
}
div.tabs.tabs-secondary {
  *zoom: 1;
  margin-bottom: 1.5em;
}
div.tabs.tabs-secondary:before, div.tabs.tabs-secondary:after {
  display: table;
  content: "";
}
div.tabs.tabs-secondary:after {
  clear: both;
}
div.tabs.tabs-secondary > ul {
  float: right;
}

ul.tabs li {
  margin: 0;
  padding: 0;
  background: none;
}
ul.tabs.primary {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #ddd;
  *zoom: 1;
}
ul.tabs.primary:before, ul.tabs.primary:after {
  display: table;
  content: "";
}
ul.tabs.primary:after {
  clear: both;
}
ul.tabs.primary li {
  display: block;
  width: auto;
  height: 35px;
  padding: 0;
  float: left;
  margin-bottom: 0;
  background: none;
  overflow: visible;
  position: relative;
  font-size: 0.9em;
}
ul.tabs.primary li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  letter-spacing: 1px;
  font-weight: bold;
  width: auto;
  height: 35px;
  padding: 0px 20px;
  line-height: 35px;
  border: solid 1px #ddd;
  border-width: 1px 0 0 1px;
  margin: 0;
  background-color: #f5f5f5;
  background-color: #f1f1f1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whitesmoke), color-stop(85%, whitesmoke), to(#e5e5e5));
  background-image: -webkit-linear-gradient(whitesmoke, whitesmoke 85%, #e5e5e5);
  background-image: -moz-linear-gradient(top, whitesmoke, whitesmoke 85%, #e5e5e5);
  background-image: -ms-linear-gradient(whitesmoke, whitesmoke 85%, #e5e5e5);
  background-image: -o-linear-gradient(whitesmoke, whitesmoke 85%, #e5e5e5);
  background-image: linear-gradient(#f5f5f5, #f5f5f5 85%, #e5e5e5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e2e2e2', GradientType=0);
}
ul.tabs.primary li a:hover, ul.tabs.primary li a.active {
  background: #fff;
  height: 35px;
  position: relative;
  top: -6px;
  padding-top: 6px;
  border-right-width: 1px;
  margin: 0 -1px 0 0;
  color: #0099dd;
  -moz-border-radius-top-left: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-top-right: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
ul.tabs.primary li a:hover {
  color: #006491;
}
ul.tabs.primary li:first-child a {
  -moz-border-radius-top-left: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
ul.tabs.primary li:last-child a {
  -moz-border-radius-top-right: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
ul.tabs.secondary {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
}
ul.tabs.secondary:before, ul.tabs.secondary:after {
  display: table;
  content: "";
}
ul.tabs.secondary:after {
  clear: both;
}
ul.tabs.secondary:first-child {
  *margin-left: 0;
}
ul.tabs.secondary + ul.tabs.secondary {
  margin-left: 5px;
}
ul.tabs.secondary li {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  position: relative;
  float: left;
}
ul.tabs.secondary li a {
  display: inline-block;
  padding: 3px 15px 3px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 0.9em;
}
ul.tabs.secondary li a:hover, ul.tabs.secondary li a:active, ul.tabs.secondary li a.active, ul.tabs.secondary li a.disabled, ul.tabs.secondary li a[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
ul.tabs.secondary li a:active, ul.tabs.secondary li a.active {
  background-color: #cccccc \9;
}
ul.tabs.secondary li a:first-child {
  *margin-left: 0;
}
ul.tabs.secondary li a:hover {
  color: #006491;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
ul.tabs.secondary li a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
ul.tabs.secondary li a.active, ul.tabs.secondary li a:active {
  color: #0099dd;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
ul.tabs.secondary li a.disabled, ul.tabs.secondary li a[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
ul.tabs.secondary li a:hover, ul.tabs.secondary li a:focus, ul.tabs.secondary li a:active, ul.tabs.secondary li a.active {
  z-index: 2;
}
ul.tabs.secondary li:first-child a, ul.tabs.secondary li.first a {
  margin-left: 0;
  -moz-border-radius-top-left: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottom-left: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
ul.tabs.secondary li:last-child a, ul.tabs.secondary li.last a {
  -moz-border-radius-top-right: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottom-right: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

ul.action-links {
  padding: 0;
}
ul.action-links li {
  list-style: none;
  margin: 0;
  display: inline-block;
  margin-right: 1em;
}
ul.action-links li a {
  display: inline-block;
  padding: 3px 15px 3px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  font-size: 0.9em;
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57bedd', endColorstr='#2e93b0', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
ul.action-links li a:hover, ul.action-links li a:active, ul.action-links li a.active, ul.action-links li a.disabled, ul.action-links li a[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
ul.action-links li a:active, ul.action-links li a.active {
  background-color: #cccccc \9;
}
ul.action-links li a:first-child {
  *margin-left: 0;
}
ul.action-links li a:hover {
  color: #006491;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
ul.action-links li a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
ul.action-links li a.active, ul.action-links li a:active {
  color: #0099dd;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
ul.action-links li a.disabled, ul.action-links li a[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
ul.action-links li a:hover, ul.action-links li a:active, ul.action-links li a.active, ul.action-links li a.disabled, ul.action-links li a[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
ul.action-links li a:active, ul.action-links li a.active {
  background-color: #24748c \9;
}
ul.action-links li a:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
ul.action-links li a.active {
  color: rgba(255, 255, 255, 0.75);
}

table {
  max-width: 100%;
  border: 1px solid #dddddd;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-spacing: 0;
  background-color: transparent;
  margin-bottom: 1.5em;
  font-size: 1em;
}
table tbody {
  border-top: none;
}
table tr.even,
table tr.odd {
  background-color: transparent;
}
table tr.even td,
table tr.odd td {
  background-color: transparent;
}
table th,
table td {
  padding: 0.4em 0.6em 0.3em;
  line-height: 1.5em;
  text-align: left;
  /* LTR */
  vertical-align: middle;
  border-bottom: none;
  background-color: transparent;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
table th a,
table td a {
  text-decoration: none;
}
table th {
  font-weight: bold;
}
table th.active img {
  vertical-align: baseline;
  margin-left: 0.5em;
}
table thead th {
  vertical-align: bottom;
}
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table thead:first-child tr:first-child td,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
table tbody + tbody {
  border-top: 2px solid #dddddd;
}
table tbody tr.odd td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover td.odd,
table tbody tr:hover th {
  background-color: whitesmoke;
}
table tbody tr.drag,
table tbody tr.drag td {
  background-color: #fffff0;
}
table tbody tr.ok,
table tbody tr.ok td {
  background-color: #DDFFDD;
}
table tbody tr.warning,
table tbody tr.warning td {
  background-color: #FFFFDD;
}
table tbody tr.error,
table tbody tr.error td {
  background-color: #FFCCCC;
}
table tbody tr.drag-previous,
table tbody tr.drag-previous td {
  background-color: #ffd;
}

.form-item {
  padding: 9px 0;
  margin: 0 0 10px;
}

table .form-item {
  padding: 0;
}

.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}

.form-type-checkbox {
  padding: 0;
}

.text-format-wrapper .form-item {
  padding-bottom: 0;
}

.form-item label {
  margin: 0;
  padding: 0;
}

.form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}

.form-item label.option input {
  vertical-align: middle;
}

.form-item .description {
  font-size: 0.85em;
  color: #999999;
}

.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

.filter-wrapper {
  border: 0;
}

.container-inline {
  *zoom: 1;
}
.container-inline:before, .container-inline:after {
  display: table;
  content: "";
}
.container-inline:after {
  clear: both;
}
.container-inline div.form-item {
  padding: 0;
  margin-right: 1em;
  display: block;
  float: left;
}

#content ul.vertical-tabs-list {
  padding-left: 0;
}

#content li.vertical-tab-button {
  background-image: none;
  padding: 0;
}

body.contextual-links-region {
  position: static;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}

/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
fieldset {
  border: 1px solid #dbdbdb;
  padding: 2.5em 0 0 0;
  /* LTR */
  position: relative;
  margin: 1em 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px;
  /* LTR */
  position: absolute;
  text-transform: uppercase;
  color: #999999;
}
fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px;
  /* LTR */
}
fieldset.collapsed {
  background-color: transparent;
}
fieldset fieldset {
  background-color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input {
  *overflow: auto;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  top: 4px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px;
}

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}
/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
.form-actions a,
a.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  display: inline-block;
  padding: 3px 15px 3px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.form-actions a:hover, .form-actions a:active, .form-actions a.active, .form-actions a.disabled, .form-actions a[disabled],
a.button:hover,
a.button:active,
a.button.active,
a.button.disabled,
a.button[disabled],
button:hover,
button:active,
button.active,
button.disabled,
button[disabled],
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"].active,
input[type="reset"].disabled,
input[type="reset"][disabled],
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"].active,
input[type="submit"].disabled,
input[type="submit"][disabled],
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"].active,
input[type="button"].disabled,
input[type="button"][disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.form-actions a:active, .form-actions a.active,
a.button:active,
a.button.active,
button:active,
button.active,
input[type="reset"]:active,
input[type="reset"].active,
input[type="submit"]:active,
input[type="submit"].active,
input[type="button"]:active,
input[type="button"].active {
  background-color: #cccccc \9;
}
.form-actions a:first-child,
a.button:first-child,
button:first-child,
input[type="reset"]:first-child,
input[type="submit"]:first-child,
input[type="button"]:first-child {
  *margin-left: 0;
}
.form-actions a:hover,
a.button:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  color: #006491;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.form-actions a:focus,
a.button:focus,
button:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.form-actions a.active, .form-actions a:active,
a.button.active,
a.button:active,
button.active,
button:active,
input[type="reset"].active,
input[type="reset"]:active,
input[type="submit"].active,
input[type="submit"]:active,
input[type="button"].active,
input[type="button"]:active {
  color: #0099dd;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.form-actions a.disabled, .form-actions a[disabled],
a.button.disabled,
a.button[disabled],
button.disabled,
button[disabled],
input[type="reset"].disabled,
input[type="reset"][disabled],
input[type="submit"].disabled,
input[type="submit"][disabled],
input[type="button"].disabled,
input[type="button"][disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="submit"] + input[type="submit"],
input[type="submit"] + a {
  margin-left: 1em;
}

.form-actions #edit-submit {
  display: inline-block;
  padding: 3px 15px 3px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  background-color: #0083dd;
  background-image: -moz-linear-gradient(top, #0099dd, #0062dd);
  background-image: -ms-linear-gradient(top, #0099dd, #0062dd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0099dd), to(#0062dd));
  background-image: -webkit-linear-gradient(top, #0099dd, #0062dd);
  background-image: -o-linear-gradient(top, #0099dd, #0062dd);
  background-image: linear-gradient(top, #0099dd, #0062dd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095d8', endColorstr='#005fd8', GradientType=0);
  border-color: #0062dd #0062dd #004091;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0062dd;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.form-actions #edit-submit:hover, .form-actions #edit-submit:active, .form-actions #edit-submit.active, .form-actions #edit-submit.disabled, .form-actions #edit-submit[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.form-actions #edit-submit:active, .form-actions #edit-submit.active {
  background-color: #cccccc \9;
}
.form-actions #edit-submit:first-child {
  *margin-left: 0;
}
.form-actions #edit-submit:hover {
  color: #006491;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.form-actions #edit-submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.form-actions #edit-submit.active, .form-actions #edit-submit:active {
  color: #0099dd;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.form-actions #edit-submit.disabled, .form-actions #edit-submit[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-actions #edit-submit:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}
.form-actions #edit-submit.active {
  color: rgba(255, 255, 255, 0.75);
}
.form-actions #edit-submit:hover, .form-actions #edit-submit:active, .form-actions #edit-submit.active, .form-actions #edit-submit.disabled, .form-actions #edit-submit[disabled] {
  background-color: #0062dd;
  *background-color: #0056c4;
}
.form-actions #edit-submit:active, .form-actions #edit-submit.active {
  background-color: #004baa \9;
}
.form-actions #edit-delete {
  display: inline-block;
  padding: 3px 15px 3px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  background-color: #da4e49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5a56', endColorstr='#b9352e', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.form-actions #edit-delete:hover, .form-actions #edit-delete:active, .form-actions #edit-delete.active, .form-actions #edit-delete.disabled, .form-actions #edit-delete[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.form-actions #edit-delete:active, .form-actions #edit-delete.active {
  background-color: #cccccc \9;
}
.form-actions #edit-delete:first-child {
  *margin-left: 0;
}
.form-actions #edit-delete:hover {
  color: #006491;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.form-actions #edit-delete:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.form-actions #edit-delete.active, .form-actions #edit-delete:active {
  color: #0099dd;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.form-actions #edit-delete.disabled, .form-actions #edit-delete[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-actions #edit-delete:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}
.form-actions #edit-delete.active {
  color: rgba(255, 255, 255, 0.75);
}
.form-actions #edit-delete:hover, .form-actions #edit-delete:active, .form-actions #edit-delete.active, .form-actions #edit-delete.disabled, .form-actions #edit-delete[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}
.form-actions #edit-delete:active, .form-actions #edit-delete.active {
  background-color: #942a25 \9;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #FCFEFD;
  -webkit-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid;
  border-color: #bbbbbb #bbbbbb #e5e5e5;
  color: #333333;
  outline: 0;
  padding: 4px 5px;
  font-size: 13px;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  height: 2.1em;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

.cke_skin_kama .cke_contents iframe,
textarea {
  -moz-border-radius-bottom-left: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottom-right: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.15);
}

select[multiple] {
  -moz-border-radius-top-right: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottom-right: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

/**
 * Separate rule for Firefox.
 * Separate rule for IE, too.
 * Cannot stack with WebKit's.
 */
::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

select:focus,
select:active {
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  border-color: #0099dd;
  /* for Opera */
  z-index: 1;
}

input:focus,
textarea:focus,
textarea:active,
input:active {
  background-color: #FFF;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  border-color: #0099dd;
}

select[disabled]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #bbbbbb #bbbbbb #e5e5e5;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(../images/select_arrow.gif) !important;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
    height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

.fieldset-legend {
  font-size: 0.85em;
}

#tools {
  position: relative;
}

#block-menu-menu-editor-menu {
  overflow: visible;
  margin-bottom: 1.5em;
  color: #999999;
  margin-bottom: 0;
  font-size: 1.3em;
}
#block-menu-menu-editor-menu ul.menu {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#1f1f1f', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
  left: 0;
  display: block;
  margin: 0;
  padding: 0 30px;
  *zoom: 1;
}
#block-menu-menu-editor-menu ul.menu:before, #block-menu-menu-editor-menu ul.menu:after {
  display: table;
  content: "";
}
#block-menu-menu-editor-menu ul.menu:after {
  clear: both;
}
#block-menu-menu-editor-menu ul.menu > li {
  display: block;
  float: left;
  margin-right: 10px;
}
#block-menu-menu-editor-menu ul.menu > li a {
  float: none;
  display: block;
  padding: 20px 10px 11px;
  line-height: 19px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#block-menu-menu-editor-menu ul.menu > li a:hover {
  background-color: transparent;
  color: #999999;
  text-decoration: none;
}
#block-menu-menu-editor-menu ul.menu > li a.active, #block-menu-menu-editor-menu ul.menu > li a.active:hover {
  color: #0099dd;
  text-decoration: none;
  background-color: #222222;
}

#block-shortcut-shortcuts {
  overflow: visible;
  margin-bottom: 1.5em;
  color: #999999;
  margin-bottom: 0;
  font-size: 1em;
}
#block-shortcut-shortcuts ul.menu {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#1f1f1f', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
  left: 0;
  display: block;
  margin: 0;
  background: transparent;
  color: white;
  background-color: #333333;
  padding: 0 30px;
  *zoom: 1;
}
#block-shortcut-shortcuts ul.menu:before, #block-shortcut-shortcuts ul.menu:after {
  display: table;
  content: "";
}
#block-shortcut-shortcuts ul.menu:after {
  clear: both;
}
#block-shortcut-shortcuts ul.menu > li {
  display: block;
  float: left;
  margin-right: 10px;
}
#block-shortcut-shortcuts ul.menu > li a {
  float: none;
  display: block;
  padding: 20px 10px 11px;
  line-height: 19px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 6px 10px 7px;
}
#block-shortcut-shortcuts ul.menu > li a:hover {
  background-color: transparent;
  color: #999999;
  text-decoration: none;
}
#block-shortcut-shortcuts ul.menu > li a.active, #block-shortcut-shortcuts ul.menu > li a.active:hover {
  color: #0099dd;
  text-decoration: none;
  background-color: #222222;
}

/* =============================================================================
  Node add/edit form
  ========================================================================== */
.node-form > div {
  *zoom: 1;
}
.node-form > div:before, .node-form > div:after {
  display: table;
  content: "";
}
.node-form > div:after {
  clear: both;
}
.node-form input[type='text'] {
  padding: 0.5em;
}
.node-form .vertical-tabs {
  clear: both;
  margin-top: 20px;
}
.node-form .form-group-main {
  display: inline;
  float: left;
  position: relative;
  width: 64%;
  padding: 20px;
  margin-right: 3%;
  margin-bottom: 20px;
  background: #EEE;
  border: 1px solid #CCC;
}
.node-form .form-group-main-only {
  padding: 20px;
  margin-bottom: 20px;
  background: #EEE;
  border: 1px solid #CCC;
}
.node-form .form-group-meta {
  display: inline;
  float: left;
  position: relative;
  width: 21%;
  padding: 20px;
  background: #DDD;
  border: 1px solid #CCC;
  margin-bottom: 20px;
}
.node-form .form-group-meta .form-text {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.node-form .form-group-main > h3,
.node-form .form-group-main-only > h3,
.node-form .form-group-meta > h3 {
  margin: -20px -20px 20px;
  padding: 10px 20px 10px;
  background: #BBB;
}
.node-form .form-item > label {
  padding: 0.3em 20px 0.3em;
  margin: 0 0 0.4em;
  border: 1px solid #ccc;
  background: #F8F8F8;
}
.node-form .form-group-main .form-item > label,
.node-form .form-group-main-only .form-item > label,
.node-form .form-group-meta .form-item > label {
  margin: 0px -20px 0.4em;
  border-right: 0;
  border-left: 0;
}
.node-form .link-field-subrow label,
.node-form .form-item.form-type-checkbox > label,
.node-form .form-item.form-type-radio > label {
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
}
.node-form .form-item-language label {
  padding: 0.3em 20px 0.3em;
  margin: 0 -20px 0.4em;
  background-color: #FEF4D7;
  border: 1px solid #ED541D;
  border-width: 1px 0;
}
.node-form fieldset {
  margin: 1em -20px;
  border-width: 1px 0 0;
  background: #FFF;
}
.node-form fieldset fieldset,
.node-form .text-format-wrapper fieldset {
  margin: 1em 0;
  border-width: 0;
  background: #EEE;
}
.node-form .vertical-tabs .fieldset-wrapper {
  margin: 0;
  background: transparent;
  border: 0;
}
.node-form fieldset .fieldset-wrapper {
  background: #EEE;
  border-top: 1px solid #CCC;
  padding-top: 1em;
}
.node-form .image-widget-data .form-item label,
.node-form fieldset .form-item label,
.node-form .filter-wrapper .form-item label {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
}
.node-form .container-inline-date > .form-item {
  border: 0;
}
.node-form span.cke_skin_kama {
  padding: 0;
  margin-top: 1em;
}
.node-form .form-item .description {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.4;
  margin-top: 1em;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  color: #5f6e88;
}

html.js .page-node #entity-translation-edit-form input.form-autocomplete,
html.js .node-form input.form-autocomplete {
  background-position: 100% 7px;
}
html.js .page-node #entity-translation-edit-form input.throbbing,
html.js .node-form input.throbbing {
  background-position: 100% -13px;
}

table {
  width: 100%;
}

/**
 * Branding.
 */
#branding {
  overflow: hidden;
  padding: 20px 40px 0;
  /* LTR */
  position: relative;
  background-color: #e5e5e5;
  background-color: #d2d2d2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d8d8d8), color-stop(95%, #d5d5d5), to(#c8c8c8));
  background-image: -webkit-linear-gradient(#d8d8d8, #d5d5d5 95%, #c8c8c8);
  background-image: -moz-linear-gradient(top, #d8d8d8, #d5d5d5 95%, #c8c8c8);
  background-image: -ms-linear-gradient(#d8d8d8, #d5d5d5 95%, #c8c8c8);
  background-image: -o-linear-gradient(#d8d8d8, #d5d5d5 95%, #c8c8c8);
  background-image: linear-gradient(#d8d8d8, #d5d5d5 95%, #c8c8c8);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#c5c5c5', GradientType=0);
}

#branding div.breadcrumb {
  font-size: 0.846em;
  padding-bottom: 5px;
}

#branding div.block {
  position: relative;
  float: right;
  /* LTR */
  width: 240px;
  padding-left: 10px;
  /* LTR */
  background: #333;
}

#branding div.block form label {
  display: none;
}

#branding div.block form div.form-item {
  float: left;
  /* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}

#branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px;
  /* LTR */
}

#branding div.block form input.form-submit {
  text-align: center;
  width: 80px;
}

/**
 * Help.
 */
#help {
  font-size: 0.923em;
  margin-top: 1em;
}

#help p {
  margin: 0 0 10px;
}

#help div.more-help-link {
  text-align: right;
  /* LTR */
}

/**
 * Page title.
 */
#page-title {
  background: #333;
  padding-top: 20px;
}

#branding h1.page-title {
  color: #035;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.385em;
  font-weight: normal;
  float: left;
  /* LTR */
}

/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}

/**
 * Page layout.
 */
#page {
  padding: 20px 0 40px 0;
  /* LTR */
  margin-right: 40px;
  /* LTR */
  margin-left: 40px;
  /* LTR */
  background: #fff;
  position: relative;
  color: #333;
}

ul.admin-list li {
  position: relative;
  padding-left: 30px;
  /* LTR */
  padding-top: 9px;
  border-top: 1px solid #ccc;
  margin-left: 0;
  /* LTR */
  margin-bottom: 10px;
  background: url(../images/list-item.png) no-repeat 0 11px;
  /* LTR */
  list-style-type: none;
  list-style-image: none;
}

.admin-panel .item-list ul,
ul.admin-list {
  margin: 0;
  padding: 0;
}

.admin-panel .item-list ul,
ul.admin-list.compact {
  margin: 8px 0;
}

.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}

ul.admin-list li:last-child {
  border-bottom: none;
}

ul.admin-list li a {
  margin-left: -30px;
  /* LTR */
  padding: 0 0 4px 30px;
  /* LTR */
  min-height: 0;
}

ul.admin-list.compact li a {
  margin-left: 0;
  /* LTR */
  padding: 0;
}

ul.admin-list li div.description a {
  margin-left: 0;
  /* LTR */
  padding: 0;
  min-height: inherit;
}

div.submitted {
  color: #898989;
}

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}

div.admin-panel,
div.admin-panel .body {
  padding: 0;
  clear: left;
}

div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}

div.admin-panel h3 {
  font-size: 0.923em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.theme-selector h3 {
  font-weight: normal;
}

.theme-default h3 {
  font-weight: bold;
}

.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* Update options. */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}

div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}

div.admin-options label,
div.admin-options div.form-item {
  margin-right: 10px;
  /* LTR */
  float: left;
  /* LTR */
}

div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
.versions table.version {
  border: none;
}

/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left;
  /* LTR */
  width: 200px;
}

body.in-maintenance #content {
  float: right;
  /* LTR */
  width: 550px;
  padding-right: 20px;
  /* LTR */
  clear: none;
}

body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}

body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}

body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}

body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}

body.in-maintenance .form-submit {
  display: block;
}

body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}

ol.task-list {
  margin-left: 0;
  /* LTR */
  list-style-type: none;
  list-style-image: none;
}

ol.task-list li {
  padding: 0.5em 1em 0.5em 20px;
  /* LTR */
  color: #adadad;
}

ol.task-list li.active {
  background: transparent url(../images/task-item.png) no-repeat 3px 50%;
  /* LTR */
  padding: 0.5em 1em 0.5em 20px;
  /* LTR */
  color: #000;
}

ol.task-list li.done {
  background: transparent url(../images/task-check.png) no-repeat 0 50%;
  color: green;
}

/* Overlay theming */
.overlay #branding {
  background-color: #fff;
  padding-top: 15px;
}

.overlay #branding h1.page-title,
.overlay #left,
.overlay #footer {
  display: none;
}

.overlay #page {
  margin: 0;
  padding: 0 20px;
}

.overlay #branding div.breadcrumb {
  float: left;
  /* LTR */
  position: relative;
  z-index: 10;
}

#overlay-tabs {
  bottom: -1px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}

#overlay-tabs li {
  margin: 0 -2px;
}

.overlay ul.secondary {
  background: transparent none;
  margin: -1.4em 0 0.3em 0;
  /* LTR */
  overflow: visible;
}

.overlay #content {
  padding: 0;
}

h1#overlay-title {
  font-weight: normal;
}

/* Shortcut theming */
div.add-or-remove-shortcuts {
  float: left;
  /* LTR */
  padding-top: 6px;
  padding-left: 6px;
  /* LTR */
}

/* Dashboard */
#dashboard .dashboard-region div.block h2 {
  background: #E0E0D8;
}

#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}

#dashboard div.block div.content {
  padding: 10px 5px 5px 5px;
  /* LTR */
}

#dashboard div.block div.content ul.menu {
  margin-left: 20px;
  /* LTR */
}

#dashboard .dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */
#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}

#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}

#field-display-overview tr.drag {
  background: #FFEE77;
}

#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}

#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}

#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}

#block-node-recent table,
#block-node-recent tr {
  border: none;
}

#block-node-recent .more-link {
  padding: 0 5px 5px 0;
  /* LTR */
}

/* User login block */
#user-login-form .openid-links {
  margin-left: 0;
  /* LTR */
}

#user-login-form .openid-links .user-link {
  margin-left: 1.5em;
  /* LTR */
}

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}

#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}

#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}

.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}

.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
