// =========================================================================
// VARIABLES
// =========================================================================

// To turn off support for IE6 or IE7, set these variables to false.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;

// Grays
// -------------------------------------------------------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// Accent colors
// -------------------------------------------------------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// Typography BOOTSTRAP
// -------------------------
$baseFontSize:          14px !default;
$baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight:        1.5em !default;
$altFontFamily:         Georgia, "Times New Roman", Times, serif !default;

$headingsFontFamily:    inherit !default; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, @textColor

// Typography
// -------------------------------------------------------------------------
$deco-font          : $baseFontFamily;
$base-font          : $baseFontFamily;
$mono-font          : "Courier New", "DejaVu Sans Mono", monospace;
$textColor          : $grayDark;
$fontColorInverted: #A7AAAC;
$fontColorDeco    : #668da0;
$baseFontSize          : $baseFontSize;
$baseLineHeight        : $baseLineHeight;

// Links
// -------------------------
$linkColor          : #09d !default;
$linkColorHover     : darken($linkColor, 15) !default;
$linkColorActive    : $linkColorHover;

// Links
// -------------------------------------------------------------------------
$linkColor         : $linkColor;
$linkColorHover   : $linkColorHover;
$linkColorActive  : $linkColorHover;

// Tables
// -------------------------
$tableBackground:                   transparent !default; // overall background-color
$tableBackgroundAccent:             #f9f9f9 !default; // for striping
$tableBackgroundHover:              #f5f5f5 !default; // for hover
$tableBorder:                       #ddd !default; // table and cell border

// Borders
// -------------------------------------------------------------------------
$borderColor       : #87A5B9;
$borderColorLight : #e5e5e5;
$borderDeco        : 1px solid #ec008b;

// Styling Colors
// -------------------------------------------------------------------------
$colorDeco         : #ec008b;
$bgColorDark      : #242b30;
$bgColorLight     : #f7f7f7;

// =========================================================================
// COMPONENT VARIABLES
// =========================================================================

// Z-index master list
// -------------------------------------------------------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1020 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;

// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         darken($white, 20%) !default;

$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 15) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              $gray !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;

// Navbar
// -------------------------------------------------------------------------
$navbarHeight:                    40px !default;
$navbarBackground:                $grayDarker !default;
$navbarBackgroundHighlight:       $grayDark !default;

$navbarText:                      $grayLight !default;
$navbarLinkColor:                 $white !default;
$navbarLinkColorHover:            $grayLight !default;
$navbarLinkColorActive:           $linkColor !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      $navbarBackground !default;

$navbarSearchBackground:          lighten($navbarBackground, 25%) !default;
$navbarSearchBackgroundFocus:     $white !default;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%) !default;
$navbarSearchPlaceholderColor:    #ccc !default;

// =========================================================================
// BASIC MIXINS
// =========================================================================

// Typography
// -------------------------------------------------------------------------
@mixin headline-h1 {
  font-family: $deco-font;
  font-weight: normal;
  font-size: 1.857142857142857em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.7em;
}

@mixin headline-h2 {
  font-family: $deco-font;
  font-weight: normal;
  font-size: 1.428571428571429em;
  line-height: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

@mixin headline-h3 {
  font-size: 1.071428571428571em;
  font-family: $deco-font;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.4em;
}
