// =============================================================================
// Drupal specific styles
// =============================================================================

#skip-link {
  a,
  a:visited {
    position: absolute;
    display: block;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
  a:hover,
  a:active,
  a:focus {
    position: static;
    width: 100%;
    height: auto;
    padding: 2px 0 3px 0;
  }
}

// The name of the website
#site-name  {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.item-list ul li {
  margin: 0;
  padding: 0;
  list-style: inherit;
}

#content .tabs li,
#content .links li,
ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
  background: none;
}

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em;
  padding: 0;
}

// =============================================================================
// Tabs
// =============================================================================

div.tabs {
  margin: 0;
  &.tabs-primary {
    position: absolute;
    bottom: 0;
    right: 40px;
  }
  &.tabs-secondary {
    @include clearfix();
    margin-bottom: 1.5em;
    & > ul {
      float: right;
    }
  }
}

ul.tabs {
  li {
    margin: 0;
    padding: 0;
    background: none;
  }
  &.primary {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #ddd;
    @include clearfix;

    li {
      display: block;
      width: auto;
      height: 35px;
      padding: 0;
      float: left;
      margin-bottom: 0;
      background: none;
      overflow: visible;
      position: relative;
      font-size: 0.9em;

      a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: $grayDark;
        letter-spacing: 1px;
        font-weight: bold;
        width: auto;
        height: 35px;
        padding: 0px 20px;
        line-height: 35px;
        border: solid 1px #ddd;
        border-width: 1px 0 0 1px;
        margin: 0;
        background-color: #f5f5f5;
        @include gradient-vertical-three-colors(#f5f5f5, #f5f5f5, 85%, #e5e5e5);

        &:hover,
        &.active {
          background: #fff;
          height: 35px;
          position: relative;
          top: -6px;
          padding-top: 6px;
          border-right-width: 1px;
          margin: 0 -1px 0 0;
          color: $linkColor;
          @include rounded(top-left, 3px);
          @include rounded(top-right, 3px);
        }
        &:hover {
          color: $linkColorHover;
        }
      }

      &:first-child a {
        @include rounded(top-left, 3px);
      }
      &:last-child a {

        @include rounded(top-right, 3px);
      }
    }
  }
  &.secondary {
    border: none;
    padding: 0;
    margin: 0;
    @include btn-group();

    li {
      border: none;
      margin: 0;
      padding: 0;
      background: none;
      position: relative;
      float: left;
      a {
        @include btn-group-btn();
        font-size: 0.9em;
      }
      &:first-child,
      &.first {
        a {
          @include btn-group-btn-first();
        }
      }
      &:last-child,
      &.last {
        a {
          @include btn-group-btn-last();
        }
      }
    }
  }
}

ul.action-links {
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    @include inline-block;
    margin-right: 1em;
    a {
      @include btn();
      font-size: 0.9em;
      @include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
      color: $white;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
      &:hover {
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
      }
      &.active {
        color: rgba(255,255,255,.75);
      }
    }

  }
}
// =============================================================================
// Tables
// =============================================================================


table {
  max-width: 100%;
  border: 1px solid $tableBorder;
  border-left: 0;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapsed; // IE7 can't round corners anyway
  @include border-radius(4px);
  border-spacing: 0;
  background-color: $tableBackground;
  margin-bottom: $baseLineHeight;
  font-size: 1em;
  tbody {
    border-top: none;
  }
  tr.even,
  tr.odd {
    background-color: $tableBackground;
    td {
      background-color: $tableBackground;
    }
  }
  // Cells
  th,
  td {
    padding: 0.4em 0.6em 0.3em;
    line-height: $baseLineHeight;
    text-align: left; /* LTR */
    vertical-align: middle;
    border-bottom: none;
    background-color: $tableBackground;
    border-top: 1px solid $tableBorder;
    border-left: 1px solid $tableBorder;
    a {
      text-decoration: none;
    }
  }
  th {
    font-weight: bold;

    &.active img {
      vertical-align: baseline;
      margin-left: 0.5em;
    }
  }
  // Bottom align for column headings
  thead th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  thead:first-child tr:first-child td,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
  // For first th or td in the first row in the first thead or tbody
  thead:first-child tr:first-child th:first-child,
  tbody:first-child tr:first-child td:first-child {
    @include border-radius(4px 0 0 0);
  }
  thead:first-child tr:first-child th:last-child,
  tbody:first-child tr:first-child td:last-child {
    @include border-radius(0 4px 0 0);
  }
  // For first th or td in the first row in the first thead or tbody
  thead:last-child tr:last-child th:first-child,
  tbody:last-child tr:last-child td:first-child {
    @include border-radius(0 0 0 4px);
  }
  thead:last-child tr:last-child th:last-child,
  tbody:last-child tr:last-child td:last-child {
    @include border-radius(0 0 4px 0);
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid $tableBorder;
  }

  tbody {
    tr.odd td,
    tr:nth-child(odd) th {
      background-color: $tableBackgroundAccent;
    }
  }
  tbody tr:hover td,
  tbody tr:hover td.odd,
  tbody tr:hover th {
    background-color: $tableBackgroundHover;
  }
  tbody tr.drag,
  tbody tr.drag td {
    background-color: #fffff0;
  }
  tbody tr.ok,
  tbody tr.ok td {
    background-color: #DDFFDD;
  }
  tbody tr.warning,
  tbody tr.warning td {
    background-color: #FFFFDD;
  }
  tbody tr.error,
  tbody tr.error td {
    background-color: #FFCCCC;
  }
  tbody tr.drag-previous,
  tbody tr.drag-previous td {
    background-color: #ffd;
  }
}

// =============================================================================
// Drupal Forms
// =============================================================================

.form-item {
  padding: 9px 0;
  margin: 0 0 10px;
}
table .form-item {
  padding: 0;
}
.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}
.form-type-checkbox {
  padding: 0;
}
.text-format-wrapper .form-item {
  padding-bottom: 0;
}
.form-item label {
  margin: 0;
  padding: 0;
}
.form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}
.form-item label.option input {
  vertical-align: middle;
}

.form-item .description {
  font-size: 0.85em;
  color: $grayLight;
}

.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}
.filter-wrapper {
  border: 0;
}



.container-inline {
  @include clearfix();
  div.form-item {
    padding: 0;
    margin-right: 1em;
    display: block;
    float: left;
  }
}

#content ul.vertical-tabs-list {
  padding-left: 0;
}

#content li.vertical-tab-button {
  background-image: none;
  padding: 0;
}

