/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }

/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
fieldset {
  border: 1px solid #dbdbdb;
  padding: 2.5em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
  @include border-radius(4px);
  .fieldset-legend {
    margin-top: 0.5em;
    padding-left: 15px; /* LTR */
    position: absolute;
    text-transform: uppercase;
    color: $grayLight;
  }
  .fieldset-wrapper {
    padding: 0 13px 13px 15px; /* LTR */
  }
  &.collapsed {
    background-color: transparent;
  }
  fieldset {
    background-color: #fff;
    @include border-radius(0px);
    fieldset {
      background-color: #f8f8f8;
    }
  }
}

html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}


/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }

input:invalid,
textarea:invalid {
  background-color: #f0dddd;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

// *** Align Radios and Checkboxes

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  top: 4px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px;
}

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}

/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

// *** Buttons
.form-actions a,
a.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include btn();

}
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 2px;
  *padding-bottom: 2px;
}

input[type="submit"] + input[type="submit"],
input[type="submit"] + a {
  margin-left: 1em;
}

.form-actions {

  #edit-submit {
    @include color-button();
    @include color-button-primary();
  }
  #edit-delete {
    @include color-button();
    @include color-button-danger();
  }
}


textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  @include rounded-all(3px);
  @include box-sizing(border-box);
  @include transition(all linear 0.2s);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #FCFEFD;
  $shadow: inset 1px 1px rgba(0,0,0,.15);
  @include box-shadow($shadow);
  border: 1px solid;
  border-color: #bbb #bbb $borderColorLight;
  color: $textColor;
  outline: 0;
  padding: 4px 5px;
  font-size: 13px;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  height: 2.1em;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
.cke_skin_kama .cke_contents iframe,
textarea {
  @include rounded(bottom-left, 0);
  @include rounded(bottom-right, 0);
  $shadow: inset 1px 1px rgba(0,0,0,.15);
  @include box-shadow($shadow);
}
select[multiple] {
  @include rounded(top-right, 0);
  @include rounded(bottom-right, 0);
}
/**
 * Separate rule for Firefox.
 * Separate rule for IE, too.
 * Cannot stack with WebKit's.
 */

::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

select:focus,
select:active {
  @include box-shadow(0 0 8px rgba(82, 168, 236, 0.6));
  border-color: $linkColor;
  /* for Opera */
  z-index: 1;
}

input:focus,
textarea:focus,
textarea:active,
input:active {
  background-color: #FFF;
  @include box-shadow(0 0 8px rgba(82, 168, 236, 0.6));
  border-color: $linkColor;
}
select[disabled]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #bbb #bbb $borderColorLight;
}
input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  @include box-shadow(none);
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  @include box-shadow(none);
  @include user-select(none);
  color: #888;
  cursor: default;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(../images/select_arrow.gif) !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    padding-right: 20px;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 13px/17px 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
    height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}
