//
// UTILITY MIXINS
// =============================================================================


// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}


@mixin inline-block {
  display: inline-block;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *display: inline;
    zoom: 1;
  }
}

// CSS3 PROPERTIES
// --------------------------------------------------

@mixin rounded($side, $radius: 10px) {
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
  border-#{$side}-radius: $radius;
}

@mixin rounded-all($radius: 10px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .ie6-7 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}

// =========================================================================
// non-semantic helper classes
// =========================================================================

// For image replacement
.ir {
  display: block;
  border: 0;
  @include hide-text;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Extends the .element-invisible class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.element-invisible.focusable,
.element-invisible.focusable {
  @include element-focusable;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

.clearfix {
  @include clearfix;
}
// Bootstrap UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// Grid Utilities
/* `Push Space
----------------------------------------------------------------------------------------------------*/

@mixin push($ps : 1) {
  left: $ps * $col_total_width;
}


/* `Pull Space
----------------------------------------------------------------------------------------------------*/

@mixin pull($pl : 1) {
  left: -($pl * $col_total_width);
}
