
@import 'base';

// mixins and helper classes

@import 'mixins';
@import 'utilities';
@import 'reset';

@import 'comp_navigation';

// =============================================================================
// 1. editor and typography styles
// =============================================================================

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: $base-font;
  color: $textColor;
}

#skip-to-nav {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

// =============================================================================
// Headings
// =============================================================================

// www.aestheticallyloyal.com/public/optimize-legibility/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1 {
  @include headline-h1;
}

h2 {
  @include headline-h2;
}

h3 {
  @include headline-h3;
}

// The title of the page
// Block title or the title of a piece of content when it is given in a list of content
// Comment title
h1.title,
h2.title,
h3.title {
  margin: 0;
}
h1.title {
  margin-bottom: 1em;
}

h4,
h5,
h6 {
  font-family: $deco-font;
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

// =============================================================================
// Block-level elements
// =============================================================================

p,
dl,
pre,
table,
fieldset {
  margin: 1.5em 0;
}

// =============================================================================
// Lists
// =============================================================================

// Drupal overrides
.block ul,
.item-list ul {
  margin: 1.5em 0;
  padding: 0 0 0 2.5em; /* LTR */
}

ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}
// =============================================================================
// special links
// =============================================================================

li a.active,
a.active,
a:active {
  color: $linkColorActive;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }
}
// =============================================================================
// 2. Drupal default styles
//    bundled in separate imports
// =============================================================================

@import 'drupal';

// contrib stylesheets

//@import 'dc_panels';
body.contextual-links-region {
  position: static;
}
// =============================================================================
// 3. General form styling
// =============================================================================

@import 'forms';

.fieldset-legend {
  font-size: 0.85em;
}
// =============================================================================
// 4. specific styles
// =============================================================================

// Layout
// -----------------------------------------------------------------------------

#tools {
  position: relative;
}
// Tools
// -----------------------------------------------------------------------------

#block-menu-menu-editor-menu {
  @include navbar();
  margin-bottom: 0;
  font-size: 1.3em;
  ul.menu {
    @include navbar-inner();
    @include navbar-fixed-inner();
    @include navbar-nav();
    padding: 0 30px;
    @include clearfix;
    & > li {
      @include navbar-item();

      a {
        @include navbar-item-link();

      }
    }
  }
}
#block-shortcut-shortcuts {
  @include navbar();
  margin-bottom: 0;
  font-size: 1em;
  ul.menu {
    @include navbar-inner();
    @include navbar-fixed-inner();
    @include navbar-nav();
    background: transparent;
    color: $white;
    background-color: $grayDark;
    padding: 0 30px;
    @include clearfix;
    & > li {
      @include navbar-item();

      a {
        @include navbar-item-link();
        padding: 6px 10px 7px;
      }
    }
  }
}

/* =============================================================================
  Node add/edit form
  ========================================================================== */

.node-form {
  & > div {
    @include clearfix;
  }
  input[type='text'] {
    padding: 0.5em;
  }
  .vertical-tabs {
    clear: both;
    margin-top: 20px;
  }
  .form-group-main {
    display: inline;
    float: left;
    position: relative;
    width: 64%;
    padding: 20px;
    margin-right: 3%;
    margin-bottom: 20px;
    background: #EEE;
    border: 1px solid #CCC;
  }
  .form-group-main-only {
    padding: 20px;
    margin-bottom: 20px;
    background: #EEE;
    border: 1px solid #CCC;
  }

  .form-group-meta {
    display: inline;
    float: left;
    position: relative;
    width: 21%;
    padding: 20px;
    background: #DDD;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    .form-text {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .form-group-main > h3,
  .form-group-main-only > h3,
  .form-group-meta > h3 {
    margin: -20px -20px 20px;
    padding: 10px 20px 10px;
    background: #BBB;
  }
  .form-item > label {
    padding: 0.3em 20px 0.3em;
    margin: 0 0 0.4em;
    border: 1px solid #ccc;
    background: #F8F8F8;

  }
  .form-group-main  .form-item > label,
  .form-group-main-only  .form-item > label,
  .form-group-meta  .form-item > label {
    margin: 0px -20px 0.4em;
    border-right: 0;
    border-left: 0;
  }
  .link-field-subrow label,
  .form-item.form-type-checkbox > label,
  .form-item.form-type-radio > label {
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
  }
  .form-item-language label{
    padding: 0.3em 20px 0.3em;
    margin: 0 -20px 0.4em;
    background-color: #FEF4D7;
    border: 1px solid #ED541D;
    border-width: 1px 0;
  }
  fieldset {
    margin: 1em -20px;
    border-width: 1px 0 0;
    background: #FFF;
  }
  fieldset fieldset,
  .text-format-wrapper fieldset{
    margin: 1em 0;
    border-width: 0;
    background: #EEE;
  }
  .vertical-tabs .fieldset-wrapper{
    margin: 0;
    background: transparent;
    border: 0;
  }
  fieldset .fieldset-wrapper {
    background: #EEE;
    border-top: 1px solid #CCC;
    padding-top: 1em;
  }
  .image-widget-data .form-item label,
  fieldset .form-item label,
  .filter-wrapper .form-item label {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
  }

  .container-inline-date > .form-item {
    border: 0;
  }
  span.cke_skin_kama {
    padding: 0;
    margin-top: 1em;

  }
  .form-item .description {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 1em;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    color: #5f6e88;
  }
}

html.js {
  .page-node #entity-translation-edit-form,
  .node-form {
    input.form-autocomplete {
      background-position: 100% 7px;
    }
    input.throbbing {
      background-position: 100% -13px;
    }
  }
}




// Tables
// -----------------------------------------------------------------------------
table {
  width: 100%;
}

// Sevens styles:

/**
 * Branding.
 */
#branding {
  overflow: hidden;
  padding: 20px 40px 0; /* LTR */
  position: relative;
  background-color: #e5e5e5;
  @include gradient-vertical-three-colors(#d8d8d8, #d5d5d5, 95%, #c8c8c8);
}
#branding div.breadcrumb {
  font-size: 0.846em;
  padding-bottom: 5px;
}
#branding div.block {
  position: relative;
  float: right; /* LTR */
  width: 240px;
  padding-left: 10px; /* LTR */
  background: #333;
}
#branding div.block form label {
  display: none;
}
#branding div.block form div.form-item {
  float: left; /* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}
#branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px; /* LTR */
}
#branding div.block form input.form-submit {
  text-align: center;
  width: 80px;
}

/**
 * Help.
 */
#help {
  font-size: 0.923em;
  margin-top: 1em;
}
#help p {
  margin: 0 0 10px;
}
#help div.more-help-link {
  text-align: right; /* LTR */
}

/**
 * Page title.
 */
#page-title {
  background: #333;
  padding-top: 20px;
}
#branding h1.page-title {
  color: #035;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.385em;
  font-weight: normal;
  float: left; /* LTR */
}

/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}

/**
 * Page layout.
 */
#page {
  padding: 20px 0 40px 0; /* LTR */
  margin-right: 40px; /* LTR */
  margin-left: 40px; /* LTR */
  background: #fff;
  position: relative;
  color: #333;
}

ul.admin-list li {
  position: relative;
  padding-left: 30px; /* LTR */
  padding-top: 9px;
  border-top: 1px solid #ccc;
  margin-left: 0; /* LTR */
  margin-bottom: 10px;
  background: url(../images/list-item.png) no-repeat 0 11px; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
.admin-panel .item-list ul,
ul.admin-list {
  margin: 0;
  padding: 0;
}
.admin-panel .item-list ul,
ul.admin-list.compact {
  margin: 8px 0;
}
.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}
ul.admin-list li:last-child {
  border-bottom: none;
}
ul.admin-list li a {
  margin-left: -30px; /* LTR */
  padding: 0 0 4px 30px; /* LTR */
  min-height: 0;
}
ul.admin-list.compact li a {
  margin-left: 0; /* LTR */
  padding: 0;
}
ul.admin-list li div.description a {
  margin-left: 0; /* LTR */
  padding: 0;
  min-height: inherit;
}
div.submitted {
  color: #898989;
}



/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel,
div.admin-panel .body {
  padding: 0;
  clear: left;
}
div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}
div.admin-panel h3 {
  font-size: 0.923em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: bold;
}
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* Update options. */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}
div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}
div.admin-options label,
div.admin-options div.form-item {
  margin-right: 10px; /* LTR */
  float: left; /* LTR */
}
div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
.versions table.version {
  border: none;
}
/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left; /* LTR */
  width: 200px;
}
body.in-maintenance #content {
  float: right; /* LTR */
  width: 550px;
  padding-right: 20px; /* LTR */
  clear: none;
}
body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}
body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}
body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}
body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}
body.in-maintenance .form-submit {
  display: block;
}
body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}


ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #adadad;
}
ol.task-list li.active {
  background: transparent url(../images/task-item.png) no-repeat 3px 50%; /* LTR */
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #000;
}
ol.task-list li.done {
  background: transparent url(../images/task-check.png) no-repeat 0 50%;
  color: green;
}

/* Overlay theming */
.overlay #branding {
  background-color: #fff;
  padding-top: 15px;
}
.overlay #branding h1.page-title,
.overlay #left,
.overlay #footer {
  display: none;
}
.overlay #page {
  margin: 0;
  padding: 0 20px;
}
.overlay #branding div.breadcrumb {
  float: left; /* LTR */
  position: relative;
  z-index: 10;
}
#overlay-tabs {
  bottom: -1px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}
#overlay-tabs li {
  margin: 0 -2px;
}
.overlay ul.secondary {
  background: transparent none;
  margin: -1.4em 0 0.3em 0; /* LTR */
  overflow: visible;
}
.overlay #content {
  padding: 0;
}
h1#overlay-title {
  font-weight: normal;
}

/* Shortcut theming */
div.add-or-remove-shortcuts {
  float: left; /* LTR */
  padding-top: 6px;
  padding-left: 6px; /* LTR */
}

/* Dashboard */
#dashboard .dashboard-region div.block h2 {
  background: #E0E0D8;
}
#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}
#dashboard div.block div.content {
  padding: 10px 5px 5px 5px; /* LTR */
}
#dashboard div.block div.content ul.menu {
  margin-left: 20px; /* LTR */
}
#dashboard .dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */

#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}
#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}
#field-display-overview tr.drag {
  background: #FFEE77;
}
#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}
#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}
#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}
#block-node-recent table,
#block-node-recent tr {
  border: none;
}
#block-node-recent .more-link {
  padding: 0 5px 5px 0; /* LTR */
}

/* User login block */
#user-login-form .openid-links {
  margin-left: 0; /* LTR */
}
#user-login-form .openid-links .user-link {
  margin-left: 1.5em; /* LTR */
}

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}
#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}
#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}
.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
